{% extends 'base.html' %}

{% block content %}
<div>
    <div class="container">
    <div><a class="btn btn-success" href="/app01/user/add/"> 新建用户</a></div>
    <div class="panel panel-default">
      <div class="panel-heading">用户信息展示</div>

      <table class="table">
        <thead>
          <tr>

            <th>ID</th>
            <th>姓名</th>
            <th>密码</th>
            <th>年龄</th>
            <th>余额</th>
            <th>入职时间</th>
            <th>性别</th>
            <th>所属部门</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>

          <tr>
               {% for i in queryset %}
            <td>{{ i.id }} </td>
            <td>{{ i.name }}</td>
            <td>{{ i.password }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.account }}</td>
            <td>{{ i.create_time | date:"Y-m-d" }}</td>
            <td>{{ i.get_gender_display }}</td>
            <td>{{ i.depart.title }}</td>
            <td>
                <a class="btn btn-primary" href="/app01/user/edit/{{ i.id  }}">编辑</a>
                <a class="btn btn-danger" href="/app01/user/del/{{ i.id }}">删除</a>
            </td>
          </tr>
                {% endfor %}

        </tbody>
      </table>
    </div>
</div>
    </div>
{% endblock %}
